@import url('https://fonts.googleapis.com/css2?family=Briem+Hand:wght@100..900&family=Dancing+Script:wght@400..700&family=Pixelify+Sans:wght@400..700&family=Sedan+SC&display=swap');

*{
    margin: 0%;
}

body{
    background-color: #1c0d02;
    font-family: 'Pixelify Sans';
    color: white;
    overflow-x: hidden;
}

nav{
    position: absolute;
    display: flex;
    width: 100vw;
    height: 60px;
    border-bottom: solid 2px gray;
    align-items: center;
    z-index: 1;

    p{
        position: absolute;
        left: 30px;
        font-size: x-large;

        i{
            font-size: xx-large;
        }
    }

    #Extend_Bar{
        visibility: hidden;
    }

    ul{
        position: absolute;
        display: flex;
        list-style: none;
        right: 20px;

        li{
            margin: 5px;
            a{
                text-decoration: none;
                color: white;
                font-size: large;
                padding: 5px;
                border-radius: 5px;
                width: 100%;
                transition: 500ms;    
            }
            a:hover{
                background-color: rgba(0, 0, 0, 0.75);
            }
        }
    }
}

.BG_Tittle{
    position: relative;
    width: 100vw;
    height: 375px;
    background-image: url(City.gif);
    background-position: center;
    background-size: cover;
    text-align: center;
    align-content: center;
    
    h1{
        position: relative;
        font-size: xx-large;
    }
    h2{
        position: relative;
        font-size: x-large;
    }
    h3{
        position: relative;
        font-size: medium;
    }

    ul{
        position: absolute;
        display: flex;
        list-style: none;
        right: 15px;
        bottom: 10px;

        li{
            margin-right: 12px;
            margin-bottom: 5px;
            font-size: x-large;

            a{
                text-decoration: none;
                color: white;
                
            }
        }
    }
}

.BG_Tittle::before
{
    position: absolute;
    content: '';
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: black;
    opacity: 30%;
}

.About_me{
    position: relative;
    width: 100vw;
    height: 400px;
    background-size: cover;
    background: linear-gradient(60deg, rgb(34,57,73) 27%, rgb(14,13,27) 32%, transparent 0%);

    .Profile{
        position: absolute;
        width: 20%;
        height: 60%;
        top: 20%;
        left: 15%;
        background-image: url(Gojo-satoru.jfif);
        background-size: cover;
        background-position: center;
        border-radius: 5%;
        box-shadow: 10px 10px rgb(219, 219, 219);
        border: solid 2px rgb(219, 219, 219);
    }
    .Profile::before{
        position: absolute;
        content: '';
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        background-color: black;
        opacity: 20%;
    }

    .Description{
        position: relative;
        border-radius: 5%;
        height: 90%;
        width: 55%;
        top: 5%;
        left: 40%;
        text-align: center;
        justify-content: center;
        align-items: center;
        align-content: center;

        h1{
            font-size: xx-large;
        }
        p{
            font-size: large;
        }
    }
}

.About_Summary{
    position: relative;
    width: 100vw;
    height: 450px;

    .Photo_Summary{
        position: absolute;
        right: 0px;
        width:45%;
        height: 100%;
        background-image: url(Room.gif);
        background-size: cover;
        background-position: 80%;
        mask-image: linear-gradient(-70deg, black 60%, transparent 65%);
        z-index: 1;
    }

    .Details_Summary{
        position: absolute;
        left: 0px;
        width:70%;
        height: 80%;
        height: 100%;

        table{
            position: absolute;
            top: 10%;
            left: 10%;
            width: 60%;
            height: 80%;
            font-size: x-large;
            justify-content: center;
            text-align: left;
            align-items: center;

            th{
                font-size: xx-large;
                text-align: center;
            }
        }
    }
}

.Education{
    position: relative;
    display: flex;
    width: 100vw;
    height: auto;
    align-items: start;
    justify-content: center;
    background-image: url(Tokyo.gif);
    background-size: contain;
    background-position: center;

    ul{
        position: relative;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        padding: 0%;
        width: 100%;
        align-items: start;
        justify-content: center;
        background-color: #1c0d02;
        mask-image: linear-gradient(60deg, transparent 5%, transparent 10%, black 12%, black 88%, transparent 90%, transparent 100%);
        

        li{
            width: 200px;
            height: 200px;
            padding: 20px;

            div{
                width: 100%;
                height: 100%;
                border: solid 5px rgb(105, 157, 150);
                border-radius: 50%;
                text-align: center;
                align-content: center;
                transition: 500ms;

                h1{
                    font-size: xx-large;
                }
                h2{
                    font-size: large;
                }
            }
            div:hover
            {
                background-color: rgba(69, 104, 99, 0.5);
                box-shadow: 5px 5px rgb(69, 104, 99);
            }
        }
    }
}

.Technologie{
    position: relative;
    width: 100vw;
    height: auto;
    align-content: center;
    text-align: center;
    background-image: url(WaterFall.gif);
    background-position: center;
    background-size: cover;

    h1{
        font-size: xx-large;
    }

    table{
        position: relative;
        display: inline;
        align-items: center;
        justify-content: center;
        font-size: large;

        .Table_Head{
            font-size: x-large;
            width: 85%;
        }

        th, td{
            border-bottom: solid 2px white;
        }

        tr:nth-child(even)
        {
            background-color: rgb(34,57,73);
        }
        tr:nth-child(odd)
        {
            background-color: rgb(14,13,27);
        }
    }

    ul{
        position: relative;
        display: flex;
        padding: 0px;
        list-style: none;
        justify-content: center;

        li{
            margin: 30px;

            h1{
                font-size: 400%;
            }
            h2{
                font-size: xx-large;
            }
        }
    }
}

.Contact{
    position: relative;
    background-color: transparent;
    width: 100vw;
    height: auto;

    ul{
        position: relative;
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        align-items: center;
        justify-content: center;
        padding: 0%;

        li{
            width: 150px;
            height: 50px;
            margin-left: 25px;
            margin-left: 25px;
            margin-top: 10px;
            margin-bottom: 10px;

            a{
                color: white;
                text-decoration: none;
                padding: 10px;
                transition: 500ms;
                
                div{
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    align-content: center;
                    border-radius: 10px;

                    h1{
                        font-size: large;
                        .fa-facebook{
                            color: blue;
                        }
                        .fa-instagram{
                            color: orchid;
                        }
                        .fa-telegram{
                            color: lightskyblue;
                        }
                        .fa-whatsapp{
                            color: greenyellow;
                        }
                        .fa-linkedin{
                            color: lightseagreen;
                        }
                    }
                    h2{
                        font-size: medium;
                        color: rgb(197, 197, 197);
                    }
                }
                div:hover{
                    background-color: rgba(128, 128, 128, 0.5);
                }
            }
            a:visited{
                color: white;
            }
        }
    }
}

.To_Up{
    position: fixed;
    display: flex;
    font-size: 300%;
    right: 2vh;
    bottom: 1vh;
    z-index: 2;
    a{
        color: white;
    }
    a:hover{
        color: rgba(255, 255, 255, 0.75);
    }
}

.tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    top: -30px;
    left: -200%;
  
    /* Posicion del tooltip */
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
}

@media(max-width:1000px){
    .Extend_Bar
    {
        position: absolute;
        right: 20px;
        font-size: xx-large;
        display: initial;
        cursor: pointer;
        visibility: visible;
    }
    .List_Bar
    {
        position: absolute;
        top: 47px;
        left: 0;
        right: 0;
        display: none;
        padding: 5px;
        padding-left: 15px;
        background-color: rgb(34, 57, 73);
        border-bottom: solid 2px gray;

        .List_Item{
            margin: 5px;
        }
    }
    #Extend_Bar:checked ~ #List_Bar
    {
        display: initial;
    }

    #Profile{
        width: 30%;
        left: 5%;
    }

    #Photo_Summary{
        width: 30%;
        mask-image: linear-gradient(-80deg, black 60%, transparent 65%);
    }

    #Details_Table{
        font-size: medium;
        top: 15%;
        height: 70%;
        left: 10%;
    }
}

@media(min-width:1000px){
    .Extend_Bar{
        visibility: hidden;
    }
}